* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgb(243, 215, 250);
  font-family: "Roboto", sans-serif;
}

.container {
  text-align: center;
  width: 300px;
  margin: 60px auto;
}

img {
  width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  padding: 3.7px;
  border: 4px solid rgb(127, 55, 186);
  transition: all 200ms;
}

img.avatar:hover {
  transform: scale(1.1);
}

h1 {
  font-size: 32px;
  color: #00082f;
  margin-top: 24px;
  margin-bottom: 8px;
}

.username {
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  font-size: 18px;
  color: #00082f;
  opacity: 0.8;
}

ul {
  list-style: none;
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  background-color: rgb(127, 55, 186);
  align-items: center;
  justify-content: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;

  margin-bottom: 16px;
  border-radius: 6px;

  transition: all 200ms;
}

ul li a:hover {
  background-color: rgb(164, 96, 228);
  transform: scale(1.05);
}

footer {
  font-weight: 500;
  font-size: 12px;
  color: #00082f;
  opacity: 0.6;
}
